Django==6.0.3
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
djoser==2.3.3
psycopg2-binary==2.9.11
python-dotenv==1.2.2
requests==2.32.5
PyJWT==2.11.0
cryptography==46.0.4
asgiref==3.11.1
sqlparse==0.5.5
